@import '../../../../assets/theme/colors.scss';

.colorButton {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

.colorButton:hover {
  border: 4px solid rgba(255, 255, 255, 0.4);
}

.red {
  background-color: $Red;
}

.pink {
  background-color: $Pink;
}

.purple {
  background-color: $Purple;
}

.deepPurple {
  background-color: $DeepPurple;
}

.indigo {
  background-color: $Indigo;
}

.blue {
  background-color: $Blue;
}

.lightBlue {
  background-color: $LightBlue;
}

.cyan {
  background-color: $Cyan;
}

.teal {
  background-color: $Teal;
}

.green {
  background-color: $Green;
}

.lightGreen {
  background-color: $LightGreen;
}

.lime {
  background-color: $Lime;
}

.yellow {
  background-color: $Yellow;
}

.amber {
  background-color: $Amber;
}

.orange {
  background-color: $Orange;
}

.deepOrange {
  background-color: $DeepOrange;
}

.brown {
  background-color: $Brown;
}

.activeColor {
  border: 3px solid #FFFFFF;
}
